@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  /* background: radial-gradient(#05190a, #000000); */
  /* background: url('./assets/background/abstract-blue-liquid.jpg'); */
  /* background-size: cover; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

html,
body {
  margin: 0;
}

main {
  display: flex;
  gap: 2rem;
  min-height: 100vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#content {
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgba(198, 198, 198, 0.89);
}
